.container.noticias{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_noticias{
    font-size: 30px;
    font-weight: bold;
    font-family:"Roboto";   


}

.boxes_noticias{
    margin-top: 1rem;
    background-color: blue;
    width: 80%;
    height: auto;
}

.noticia_public{
    width: 100%;
    height: 200px;
        

}