
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.header{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: black;
    padding: 0 4rem;
    border-bottom: 4px solid transparent; /* Define a largura da borda */
     border-image: linear-gradient(90deg, #DE0000,#FFE500 ,#20C300) 1;
}

.elementos_esquerda{
    width: 85%;
    display: flex;
    justify-content: right;
    align-items: center
}

.titulos{
    width: auto;
    display: flex;
    gap: 4rem;
    margin-right: 4rem;
}

.titulo{
    font-family:"Roboto" ;   
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}
.agora{
    font-weight: bold;
}

.login{
    font-family:"Roboto" ;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s ease;
}

.login:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: #000000;
    color: rgb(255, 255, 255);
}

#button_sair{
    cursor: pointer;
}


.container.autor{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container h1{
    font-family:"Roboto" ;    

}

.boxes.autor{
    margin-top: 5rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.box_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.span{
    font-family:"Roboto" ;    

}
.span.name{
    font-weight: bold;
    font-size: 32px;
}

.span.text{
    text-indent: 4rem;
    margin-top: 2rem;
    font-size: 24px;
    text-align: justify;
}

.box.social{
    margin-top: 2rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.text_icon{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.text_icon:hover{
    text-decoration: underline;

}

.container.ideia{
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ideia_text{
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-indent: 4rem;
    line-height: 1.6;
    width: 75%;
    font-size: 28px;
    text-align: justify;
}

.footer{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    height: 200px;
    width: 100%;
    background-color: black;
    border-top: 4px solid transparent; /* Define a largura da borda */
     border-image: linear-gradient(90deg, #DE0000,#FFE500 ,#20C300) 1;
}
.footer img{
    height: 50px;
}
.footer span{
    color: white;
}
