.container.noticias{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_noticias{
    font-size: 30px;
    font-weight: bold;
    font-family:"Roboto";   


}

.boxes_noticias{
    margin-top: 1rem;
    width: 80%;
    height: auto;
}

.noticia_public{
    margin-top: 3rem;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 220px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #DE0000,#FFE500 ,#20C300) 1;
}

.box_capa_noticia{
    border-radius: 10px;
    width:  17%;
    height: 200px;
    background-color: rgb(88, 88, 88);
    overflow: hidden;
}
#capa_noticia{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.box_texto_noticia{
    box-sizing: border-box;
    padding: 0 0 0 1rem ;
    width:  83%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.span.titulo{
    font-family:"Roboto";
    width: 100%; 
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
}

.span.texto{
    width: 100%; 
    height:130px ;
    text-align: justify;
    font-size: 19px;
}

.span.infos{
    height: 30px;
    display: flex;
    align-items: center;
    opacity: 0.3;
}


.div_like{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.like_test{
    margin-left: 3px;
}
