body{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.logo{
    margin-top: 50px;
}

.menu_lateral{
    background-color: black;
    height: 100vh;
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.telas{
    background-color: rgb(228, 228, 228);
    height: 100vh;
    width: 80%;
}

.buttons{
    width: 100%;
    gap: 15px;
    height: auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.button{
    font-family:"Roboto";   
    height: 40px;
    width: 80%;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;    
}

.welcome{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.text{
    font-family:"Roboto";   
    color: rgb(255, 255, 255);    
    font-weight: 400;
    font-size: 34px;
    text-decoration: none;
    
}

.welcome_text{
    font-weight: 600;
    font-size: 28px;
}

.opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.opcoes_text{
    font-size: 26px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    border-bottom: 2px white solid;
}

a{
    cursor: pointer;
}

/* Telas principais */
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Roboto";   
    font-weight: bold;
    width: 100%;
    height:10%;
    font-size: 32px;
}

.conteudo{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 500px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem 3rem;
}

.publicar{
    padding: 0rem 3rem;

    width: 500px;
    border-radius: 10px;
    height: 50px;
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    border: 3px solid rgb(0, 0, 0);    
}

.publicar:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);    
}

.input_transferencias{
    height: 25px;
    padding: 0;
    margin: 0 ;
}
/* primeiras inputs do card */
.cards_inputs1{
    gap: 10px;
    background-color: red;
    height: 300px;
    width: 300px;
    padding: 0;
    margin: 0 ;
    display:flex;
    flex-direction: column;
}

#ipt_posicao{
    width: 100%;

}
#ipt_name{
    width: 100%;
}

#ipt_dtnasc{
    width: 35%;
    
}
#ipt_bandeira{
    width: 20%;
}
#ipt_nacionalidade{
    width: 35%;
}